<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script type="application/javascript" src="/scripts/viewselect.js"></script>
    <script type="application/javascript" src="/scripts/statevis.js"></script>
    <script type="application/javascript">
        var state;
        var coal_counts;  
        var natural_gas_counts;
        var nuclear_counts;
        var petroleum_counts;
        var renewable_counts;
    </script>
</head>
<body onload="Init()">
    <div id="view_select">
        <h2>Database Search</h2>
        <div class="spacer1"></div>
        <label for="view_type">View by: </label>
        <select id="view_type" onchange="SearchTypeChanged()">
            <option value="year">Year</option>
            <option value="state">State</option>
            <option value="energy">Energy Type</option>
        </select>
        <label for="view_value">Select value: </label>
        <select id="view_value">
        </select>
        <button type="button" onclick="SubmitView()">View</button>
    </div>

    <div class = "header">
        <h1>!STATENAME!</h1>
        <p>!PREV!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;!NEXT!</p>
    </div>

    !STATEIMG!
    <div id="snapshot"></div>
    <div class = "scroll">
        <table class = "tables">
            <tr>        
                <th>Year</th>
                <th>Coal</th>
                <th>Natural Gas</th>
                <th>Nuclear</th>
                <th>Petroleum</th>
                <th>Renewable</th>
                <th>Total</th>
            </tr>
            !STATETABLE!
        </table>
    </div>
    
    <p>Pictures from <a href="https://state.1keydata.com/" target = "_blank">https://state.1keydata.com/</a></p>
</body>
</html>
